* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
}
.left {
  height: 100%;
  width: 40%;
  background-color: #71beab;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  height: 60%;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  border: none;
  border-radius: 1rem;
}
input {
  width: 70%;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  font-size: 0.rem;
  padding: 0.8rem 1rem;
  color: rgb(101, 101, 101);
  font-weight: 500;
}
.ri {
  height: 100%;
  width:60%;
  padding: 40px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  overflow-y: auto;
   background-color: #eafaf5;
}
#btn {
  width: fit-content;
  padding: 0.8rem 1rem;
  background-color: #79c2b0;
  border: none;
  color: white;
  transition: all ease 0.3s;
  cursor: pointer;
}
#btn:active {
  scale: 0.9;
}
.smallbox {
  height: 18rem;
  width: 15.5rem;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.402);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.top {
  height: 75%;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.bottom{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}
h1{
    font-weight: 700;
    font-size: 1.1rem;
}
h4{
    color: slategray;
    font-size: 0.9rem;
}
button{
    padding: 0.5rem 1rem;
    background-color: rgb(185, 32, 32);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all ease 0.3s;
}
button:active{
    scale: 0.9;
}
 

@media (max-width:768px){
  main{
    padding: 1rem;
    flex-direction: column;
  }
  .left{
    width: 100%;
     height:40rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .ri{
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }
  form {
    height: 80%;
  width: 70%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border: none;
  border-radius: 1rem;
}
  form input{
  width: 70%;
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  }
  #btn {
  padding: 0.3rem 0.5rem;
}
}
